nav
	.centered
		p Yet Another Lorem Ipsum Clone
		ul#links
			li: a(href="http://www.facebook.com/dalekipsum") Like Us
			|
			li: a(href="http://wwwtwitter.com/dalekipsum") Follow Us
			|
			li: a(href="http://api.dalekipsum.com") API!
header
	hgroup
		h1= title
		h2 Placeholder text, mercilessly crafted by the children of Skaro.
		// AddThis Button BEGIN
		.addthis_toolbox.addthis_default_style
			a.addthis_counter()
		script(src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ebc827a252c26d6")
#silhouette
#main
	#bubble
		#pointer
			#one
			#two
		#content
			//p EXTERMINATE!
footer
	.centered
		p Copyright &copy; 2011 Brandon Satrom :: Carrot Pants Studios
		ul#links
			li: a(href="http://www.twitter.com/brandonsatrom") @BrandonSatrom
			|
			li: a(href="http://www.userinexperience.com") Blog
			|
			li: a(href="http://mailto:bsatrom@gmail.com") Contact
		p This site was built using 
			a(href="") Node.js 
			| with 
			a(href="") Express
			|,
			a(href="") Jade 
			| and 
			a(href="") CoffeeScript 
			| and is running on
			a(href="") Heroku