#main
  form#suggestionForm(method='post', action='submit/')
    p
      #response
    p
      input#phrase(type='text')
    p 
      a.button(id='makeSuggestion', name='makeSuggestion') Suggest!
script(src='javascripts/submit.js')