@import url(http://fonts.googleapis.com/css?family=Bangers|Oswald);

body {
	margin: 0;
	padding: 0;
  font: 24px 'Oswald', sans-serif;
  background: #05070c url(/images/backgroundStrip.png);
  background-repeat: repeat-x;
  color: #0D1018;
}

header {
	text-align: center;
	width: 100%;
	position: relative;
}

h1 {
	float: left;
	font-family: "Bangers", cursive;
	font-size: 80pt;
	text-shadow: 4px 4px 4px #C0D2F3;
	font-weight: 400;	
	width: 100%;
	position: relative;
	top: -30px;
	-webkit-transform: rotate(-8deg); 
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);	
	z-index:-1;
}

h2 {
	font: 20px 'Oswald', sans-serif;
	color: #C0D2F3;
	height: 50px;
	position: relative;
	top: -80px;
}

header div {
	width: 50px;
	margin:auto;
	position: relative;
	top: -40px;
}

nav {
	position: absolute;
	top: 0px;
	background: #05070c;
	font: 20px 'Oswald', sans-serif;
	font-weight: 400;
	text-transform:uppercase;
	height: 30px;
	width: 100%;
	float: right;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center 
}

nav p,
#links {
	margin: 0;
	padding: 0 0 0 5px;	
}

nav p {
	float: left;
	color: #C0D2F3;
}

.centered {
	width: 75%;
	margin: auto;
}

nav #links {
	float: right;
}

#links {
	list-style-type:none;
	position: relative;
	color: #C0D2F3;	
}

#links li {
	display: inline;
	padding: 0;
	margin: 0;
}

ul a:link,
ul a:visited,
#links a:link,
#links a:visited {
	padding:20px 10px 4px 10px;	
}

p a:link,
p a:visited,
#links a:link,
#links a:visited {
	color:#C0D2F3;
	text-decoration: none;	
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

p a:hover,
p a:focus,
#links a:hover,
#links a:focus {
	color: #fff;
	text-shadow: -1px 1px 10px #ffc, 1px -1px 10px #fff;  
}

#silhouette {
	background: url(/images/dalekDark.png);
	height: 1080px;
	width: 814px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}

#main {
	font: 18px 'Oswald', sans-serif;	
	color: #C0D2F3;
	width: 50%;
	margin: auto;
	text-align: center;
	position:relative;
	top: -30px;
}

select.styled {
	background: #05070c;
	color: #C0D2F3;
	width: 70px;
  padding: 5px;
  font: 18px 'Oswald', sans-serif;
  border: 1px solid #05070c;	
}

a.button {
	font: 40px 'Bangers', cursive;	
	background: #05070c url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #C0D2F3;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

a.clicked {
	-webkit-transform: translate(2px, 2px);
}


a {
  color: #C0D2F3;
}

footer p {
	color: #C0D2F3;
	margin: 0;
	padding: 0;
}

footer {
	position: absolute;
	bottom: 50px;
	font: 14px 'Oswald', sans-serif;
	font-weight: 400;
	text-transform:uppercase;
	height: 30px;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center 
}